/*------------------------------------*\
    #FOOTER-STYLES
\*------------------------------------*/

.site-footer a{
	color: black(0.3);
	text-decoration: none;

	&:hover {
		color: black(0.5);
	}
}
.footer-col {
	@include container();
}

.footer-col-1 {
	@include span(12 of 12);

	@include breakpoint($medium) {
		@include span(8 of 12);
	}
}

.footer-col-2 {
	@include span(12 of 12 last);

	@include breakpoint($medium) {
		@include span(4 of 12 last);
	}
}

.contact-list {
	@include clearfix();
	width: span(10 of 12);
	margin: 1em auto;
	padding: 0;
	font-family: "proxima-nova";
	font-size: 0.704em;

	@include breakpoint($large) {
		margin: gutter(12) 0;
	}
}

.social-media-list {
	@include container(12);
	@include pre(1 of 12);
	padding: gutter(12) 0;

}

.social-media-list li, .contact-list li {
	list-style-type: none;
}

.contact-list li {
	display: block;
	text-align: center;
}

.social-media-list li {
	@include gallery(2 of 12);
}

.footer-col .icon svg {
	height: 1em;
	width: 1em;
	fill: black(0.4);
}