/*------------------------------------*\
    #FOOTER-STYLES
\*------------------------------------*/

.footer-col-wrapper {
	@include span(12 of 12);
	@include clearfix();
	margin-top: gutter(6);

	@include breakpoint($large) {
		width: span(10 of 12);
		margin: 0 auto;
		float: none;
	}
}

.site-footer a{
	color: black(0.2);
	text-decoration: none;

	&:hover {
		color: black(0.5);
	}
}
.footer-col {
	@include container();
}

.footer-col-1 {
	@include span(12 of 12);

	@include breakpoint($medium) {
		@include span(8 of 12);
	}
}

.footer-col-2 {
	@include span(12 of 12 last);

	@include breakpoint($medium) {
		@include span(4 of 12 last);
	}

	@include breakpoint($large) {
		@include span(2 of 12 last);
	}
}

.contact-list {
	@include clearfix();
	width: span(10 of 12);
	margin: gutter(10) auto;
	padding: 0;
	font-family: "proxima-nova";
	font-size: 0.704em;

	@include breakpoint($medium) {
		margin: 2.6em auto;
	}

	@include breakpoint($large) {
		margin: 3.69492% 0;
	}
}

.social-media-list {
	@include container(12);
	@include clearfix();
	width: span(10 of 12);
	margin: gutter(6) auto;
	padding: 0;
	vertical-align: middle;


	@include breakpoint($medium) {
		margin: 1.6em 0;
	}
}

.social-media-list li, .contact-list li {
	list-style-type: none;
	color: black(.4);
}

.contact-list li {
	display: block;

	a {
		color: black(.4);

		&:hover {
			text-decoration: underline;
		}
	}

	@include breakpoint($medium) {
		text-align: left;
	}
}

.social-media-list li {
	@include gallery(2 of 12);

	& a {
		display: block;
		height: 20px;
	}

}

.icon {
	display: block;
	height: 20px;
}

.footer-col .icon svg {
	height: 1.25em;
	width: 1.25em;
	fill: black(0.2);
	transition: fill 0.25s;
	
	@include breakpoint($medium) {
		height: 1em;
		width: 1em;
	}
}

.social-media-list li a:hover .icon svg {
	fill: black(0.4);
}