/*------------------------------------*\
    #NAVBAR-LAYOUT
\*------------------------------------*/

.site-header {
	@include full;
	font-family: 'proxima-nova', sans-serif;
}

.site-nav {
  position: absolute;
  top: 0;
  width: 100%;
  height: gutter(4);
  padding-top: gutter(6);
  padding-bottom: gutter(6);
  right: 0;
  z-index: 1000;
  cursor: pointer;
  overflow: hidden;
  transform: translate(0,0);
  transition: transform .4s, height .3s, background .4s;
}

.site-title {
  @include pre(1 of 12);
  color: white(1);
  text-decoration: none;

  @include breakpoint($medium) {
    @include pre(2 of 12);
  }
}

.menu-icon {
  float: right;
  @include post(1 of 12);
}

.menu-icon svg {
	width: 1.25em;
  fill: white(1);
}

.menu-link {
  font-family: "freight-text-pro";
  color: black(0.8);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

/*------------------------------------*\
    #OFF-CANVAS-NAV
\*------------------------------------*/

/* when hidden it goes up */
nav.invisible {
  transform: translate(0,-64px);
  transition: transform .2s;
  opacity: 0;
}

/* when shown & detached position is fixed */
nav.detached {
  position: fixed;
  background-color: white(.9);
  transition: transform .3s, height .3s, background .4s, opacity .3s;
}

// check again for selector specificity
nav.detached .site-title, nav.expanded .site-title {
  color: black(0.8);
}

nav.detached .menu-icon svg, nav.expanded .menu-icon svg {
  fill: black(0.8);
}

/* increases menu width & height */
nav.expanded {
  width: 100%;
  height: 100%;
  position: fixed;
  cursor: default;
  background: white(.9);
}

/* positions navigation content */
.navigation {
  transform: translate(0,-700px);
  opacity: 0;
  padding-top: 2em;
  text-align: center;
  transition: transform .15s, opacity .7s;
}

/* shows navigation */
nav.expanded .navigation {
  transform: translate(0,0);
  opacity: 1;
}
