/*------------------------------------*\
    #NAVBAR-LAYOUT
\*------------------------------------*/

.site-header {
	@include container();
	font-family: 'proxima-nova', sans-serif;
}

.site-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: span(12);
  height: 55px;
  padding-top: gutter(8);
  padding-bottom: gutter(8);
  z-index: 1000;
  cursor: pointer;
  overflow: hidden;
  transform: translate(0,0);
  transition: transform .4s, height .3s, background .2s;

  @include breakpoint($medium) {
    height: 77px;
  }
}

.logo {
  position: relative;
  float: left;
  width: span(6 of 12 first);
  @include pre(1 of 12);
}

.menu {
  position: relative;
  float: left;
  width: span(4 of 12 last);
  @include post(1 of 12);
  margin-top: 8px;

  @include breakpoint($medium) {
    margin-top: 10px;    
  }

}

.nav--is-white {
  position: relative;
  background: white(1);
}

.nav--is-white .site-title svg, .nav--is-white .menu svg {
  fill: black(1);
}

.site-title  svg {
  width: 157px;
  height: 35px;
  fill: white(1);

  @include breakpoint($medium) {
    width: 237px;
    height: 41px;
  }

}

.menu-icon {
  position: relative;
  float: right;
  z-index: 1001;
}

.menu-icon svg {
	width: 1.25em;
  fill: white(1);
}

.menu-link {
  font-family: "freight-text-pro";
  color: black(0.8);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

/*------------------------------------*\
    #OFF-CANVAS-NAV
\*------------------------------------*/

/* when hidden it goes up */
nav.nav--is-invisible {
  transform: translate(0,-64px);
  transition: transform .2s;
  opacity: 0;
}

/* when shown & detached position is fixed */
nav.nav--is-detached {
  position: fixed;
  background-color: white(.9);
  transition: transform .3s, height .3s, background .2s, opacity .15s;
}

// check again for selector specificity
nav.nav--is-detached .site-title svg, nav.nav--is-expanded .site-title svg,
nav.nav--is-detached .menu-icon svg, nav.nav--is-expanded .menu-icon svg {
  fill: black(0.8);
}

/* increases menu width & height */
nav.nav--is-expanded {
  width: 100%;
  height: 100%;
  position: fixed;
  cursor: default;
  background: white(.9);
}

/* positions navigation content */
.navigation {
  @include centerer();
  width: span(12);
  opacity: 0;
  padding-top: 0;
  text-align: center;
  transition: transform .15s, opacity .15s, height .3s;
}

/* shows navigation */
nav.nav--is-expanded .navigation {
  @include centerer();
  opacity: 1;
  transition: transform .15s, opacity .15s, height .3s;
}

.primary-navigation {
  padding: 0;
}

.primary-navigation li {
  list-style-type: none;
  padding: 1em;
}

.menu-link {
  font-family: "proxima-nova";
  font-weight: bold;
  font-size: 1.666em;
  text-transform: uppercase;
  letter-spacing: 0.15em;

  @include breakpoint($medium) {
    font-size: 2.073em;
  }

}

.menu-link-desc {
  font-family: "freight-text-pro";
  font-style: italic;
  font-size: 0.704em;
  display: block;

  @include breakpoint($medium) {
    font-size: 1em;
  }
}

/* blurring content */
// .blurred {
//   -webkit-transform: scale(.99);
//   -moz-transform: scale(.99);
//   -o-transform: scale(.99);
//   transform: scale(.99);
//   -webkit-filter: blur(5px);
//   -moz-filter: blur(5px);
//   -o-filter: blur(5px);
//   filter: blur(5px);
//   -webkit-transition: -webkit-transform .5s, -webkit-filter .5s;
//   -moz-transition: -moz-transform .5s, -moz-filter .5s;
//   -o-transition: -o-transform .5s, -o-filter .5s;
//   transition: transform .5s, filter .5s;
// }
