/*------------------------------------*\
    #NAVBAR-LAYOUT
\*------------------------------------*/

.site-header {
	@include container();
  @include clearfix();
	font-family: 'proxima-nova', sans-serif;
}

.site-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: span(12);
  height: 55px;
  padding-top: gutter(8);
  padding-bottom: gutter(8);
  z-index: 1000;
  overflow: hidden;
  transform: translate(0,0);
  transition: transform .4s, height .3s, background .2s;

  @include breakpoint($medium) {
    height: 77px;
  }

  @include breakpoint($large) {
    padding-top: 1.2%;
  }
}

.logo {
  position: relative;
  float: left;
  width: span(6 of 12 first);
  @include pre(1 of 12);
}

.menu {
  position: relative;
  float: left;
  width: span(4 of 12 last);
  @include post(1 of 12);
  margin-top: 4px;


  @include breakpoint($medium) {   
    margin-top: 8px;
  }

}

.nav--is-white {
  position: relative;
  background: white(1);
}

.nav--is-white .site-title svg, .nav--is-white .menu svg {
  fill: black(1);
}

.site-title {
  position: relative;
  display: block;
  height: 35px;
  z-index: 1001;
}

.site-title  svg {
  position: relative;
  width: 157px;
  height: 35px;
  fill: white(1);

  @include breakpoint($medium) {
    width: 237px;
    height: 41px;
  }

}

.black .site-title svg {
  fill: black(0.8);
}

.menu-icon {
  position: relative;
  float: right;
  z-index: 1001;
}

/* For Hamburger Icon */
 
.lines-button {
  display: inline-block;
  transition: .3s;
  cursor: pointer;
  user-select: none;
 
  &:hover {
    opacity: 1;
  }
}

.lines {
   
  //create middle line
  @include line;
  position: relative; 
 
  /*create the upper and lower lines as pseudo-elements of the middle line*/
  &:before, &:after {
   
   @include line;
    position: absolute;
    left:0;
    content: '';
    transform-origin: $button-size/14 center;
  }
  &:before { top: -$button-size/4; }
  &:after { top: $button-size/4; }
}

.black .lines {
  background: black(0.8);

  &:before, &:after {
    background: black(0.8);
  }
}

.lines-button.x.close .lines {
 
    /*hide the middle line*/
    background: transparent;
 
    /*overlay the lines by setting both their top values to 0*/
    &:before, &:after{
      transform-origin: 50% 50%;
      top:0;
      width: $button-size;
    }
 
    // rotate the lines to form the x shape
    &:before{
      transform: rotate3d(0,0,1,45deg); 
    }
    &:after{
      transform: rotate3d(0,0,1,-45deg); 
    }
}

.lines-button--alt .lines, .lines-button--alt .lines:before,
.lines-button--alt .lines:after {
  background: black(.8);
}

.menu-link {
  font-family: "freight-text-pro";
  color: black(0.8);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

/*------------------------------------*\
    #OFF-CANVAS-NAV
\*------------------------------------*/

/* when hidden it goes up */
nav.nav--is-invisible {
  transform: translate(0,-64px);
  transition: transform .2s;
  opacity: 0;
}

/* when shown & detached position is fixed */
nav.nav--is-detached {
  position: fixed;
  background-color: white(.97);
  box-shadow: 0 0 1px black(.15);
  transition: transform .3s, height .3s, background .2s, opacity .15s;
}

// check again for selector specificity
nav.nav--is-detached .site-title svg, nav.nav--is-expanded .site-title svg {
  fill: black(0.8);
}

nav.nav--is-detached .menu-icon .lines:before, nav.nav--is-expanded .menu-icon .lines:before,
nav.nav--is-detached .lines, nav.nav--is-detached .menu-icon .lines:after, nav.nav--is-expanded .menu-icon .lines:after {
  background: black(0.8);
}

/* increases menu width & height */
nav.nav--is-expanded {
  width: 100%;
  height: 100%;
  position: fixed;
  cursor: default;
  background: white(.97);
}

/* positions navigation content */
.navigation {
  @include centerer();
  width: span(12);
  opacity: 0;
  padding-top: 0;
  text-align: center;
  transition: transform .15s, opacity .15s, height .3s;
}

/* shows navigation */
nav.nav--is-expanded .navigation {
  @include centerer();
  opacity: 1;
  transition: transform .15s, opacity .15s, height .3s;
}

.primary-navigation {
  padding: 0;
}

.primary-navigation li {
  list-style-type: none;
  padding: 1em;
}

.primary-navigation li.separator {
  padding: 0;
}

.separator {
  position: relative;
  font-family: "freight-text-pro";
  font-weight: normal;
  font-size: 0.704em;
  font-style: italic;
  text-transform: none;
  text-align: center;
  color: black(0.3);
  margin: 0.704 0;

  @include breakpoint($medium) {
    font-size: 0.875em;
    margin: 0.875em 0;
  }

  &:after {
    @include centerer();
    height: 1px;
    width: span(4 of 12);
    background: black(0.1);
    content: '';
  }

  & span {
    position: relative;
    z-index: 6;
    padding: 0.704em;
    background: white(.9);
  }

}

.menu-link {
  font-family: "proxima-nova";
  font-weight: bold;
  font-size: 1.666em;
  text-transform: uppercase;
  letter-spacing: 0.15em;

  @include breakpoint($medium) {
    font-size: 2.073em;
  }

}

.menu-link-desc {
  font-family: "freight-text-pro";
  font-style: italic;
  font-size: 0.704em;
  display: block;

  @include breakpoint($medium) {
    font-size: 1em;
  }

  @include breakpoint($large) {
    font-size: 1.131em;
  }
}

/* blurring content */
// .blurred {
//   -webkit-transform: scale(.99);
//   -moz-transform: scale(.99);
//   -o-transform: scale(.99);
//   transform: scale(.99);
//   -webkit-filter: blur(5px);
//   -moz-filter: blur(5px);
//   -o-filter: blur(5px);
//   filter: blur(5px);
//   -webkit-transition: -webkit-transform .5s, -webkit-filter .5s;
//   -moz-transition: -moz-transform .5s, -moz-filter .5s;
//   -o-transition: -o-transform .5s, -o-filter .5s;
//   transition: transform .5s, filter .5s;
// }
