/*------------------------------------*\
    #BASE-LAYOUT
\*------------------------------------*/

body {
	@include container();
}

body.no_scroll {
  overflow: hidden;
  height: 100%;
}

/* Firefox fix for overflow: hidden. Scroll bar is hidden and moves everything to the right */
@-moz-document url-prefix() {
  body.no_scroll {
    /*margin-right: 23px;*/
  }

  body.no_scroll .expanded {
    /*padding-right: 7px;*/
    background: rgba(255,255,255,.98); /* because FF no blur, reduce bg transparency */
  }
}

.title-container.title-container--home {
	@include centerer();
	margin-left: 0;
}

.home-content {
	width: span(10 of 12);
	margin: 0 auto;

	@include breakpoint($medium) {
		width: span(10 of 12);
	}

	@include breakpoint($large) {
		width: span(6 of 12);
	}

}

.featured-posts, .recent-posts {
	@include clearfix();
}

.page-heading.recent-entries {
	position: relative;
	font-family: "freight-text-pro";
	font-weight: normal;
	font-size: 1.125em;
	font-style: italic;
	text-transform: none;
	text-align: center;
	color: black(0.3);
	margin: 1.666em 0;

	@include breakpoint($medium) {
		font-size: 1.333em;
		margin: 2.221em 0;
	}

	&:after {
		@include centerer();
		height: 1px;
		width: span(12 of 12);
		background: black(0.1);
		content: '';
	}

	& span {
		position: relative;
		z-index: 6;
		padding: 0.704em;
		background: white(1);
	}

}

.post-list {
	@include clearfix();
}

.post-list .featured-post {
	padding-bottom: 1.666em;
	margin-bottom: 1.666em;
	//border-bottom: 1px solid black(0.1);

	&:last-child {
		padding-bottom: 0;
		margin-bottom: 0;
	}

	@include breakpoint($medium) {
		padding-bottom: 2.221em;
		margin-bottom: 2.221em;
	}

	@include breakpoint($x-large) {
		@include span(6 of 12);
		margin-bottom: 0;
		padding-bottom: 0;

		&:nth-child(even) {
			@include span(6 of 12 last);
		}

	}

}

.post-list .post {
	@include span(6 of 6);
	margin-bottom: gutter(4);

	@include breakpoint($medium) {
		@include span(3 of 6);

		&:nth-child(even) {
			@include span(3 of 6 last);
		}		
	}


}

.post-list .post-meta {
	font-family: "freight-text-pro";
	text-transform: none;
}

.profile-page {
	width: span(12);
	margin: 0 auto;
}

.about-me {
	position: relative;
	width: span(10 of 12);
	margin: 0 auto;
	text-align: center;
}

.signet {
	position: relative;
	width: span(10 of 12);
	margin: 0 auto;

	@include breakpoint($medium) {
		width: span(8 of 12);
	}
}

.signet svg {
	display: block;
	margin: 2em auto;
	width: 150px;
	height: 150px;
	fill: black(0.8);
}


/*------------------------------------*\
    #INCLUDES
\*------------------------------------*/

.post-follow-ups-signet {
	position: relative;
	width: 64px;
	margin: 2.073em auto;
	fill: black(0.8);
}

.email-me {
	position: relative;
	width: span(10 of 12);
	margin: 0.5em auto;
	padding: 0.875em 0;

	@include breakpoint($medium) {
		margin: 1em auto;
		padding: 2em 0;
	}

	@include breakpoint ($large) {
		margin: 3em auto;
	}

	&:after {
		@include centerer();
		top: 0;
		content: '';
		width: span(4 of 12);
		height: 1px;
		background: black(0.1);
	}
}

.email-me-headline {
	font-size: 1.1em;
	text-align: center;

	@include breakpoint($medium) {
		font-size: 1.555em;
	}

	@include breakpoint($large) {
		font-size: 2.073em;
	}
}

.related-post {
	position: relative;
	width: 100%;
	padding-bottom: 42.553191489%; //2.35:1	
	//padding-bottom: 56.25% //16:9 

	@include breakpoint($large) {
		padding-bottom: span(3 of 12);
	}
}


.related-post-content, .all-projects-content {
	@include centerer();
	width: span(10 of 12);
	color: white(1);
	z-index: 6;
}

.related-post-content {
	font-size: 1em;

	@include breakpoint($medium) {
		width: span(8 of 12);
	}
}

.related-post-title {
	position: relative;
	font-size: 0.875em;
	padding-top: .5em;
	padding-bottom: 1em;

	@include breakpoint($medium) {
		font-size: 1.375em;
		padding-top: 0.704em;
		padding-bottom: 2.073em;
	}

	&:before {
		position: absolute;
		content: '';
		height: 4px;
		width: span(3 of 12);
		top: 0;
		background: white(1);
	}
}

.related-post-header {
	font-size: 1.125em;

	@include breakpoint($medium) {
		font-size: 1.555em;
	}
}

.related-post-meta, .work-list-meta {
	margin-top: 0;
	margin-bottom: 0.5em;
	font-family: "proxima-nova";
	font-weight: bold;
	font-size: 0.704em;
	letter-spacing: 2px;
	color: white(1);
	text-transform: uppercase;
}

.all-projects {
	position: relative;
	width: span(12);
	padding-bottom: 42.553191489%; //2.35:1

	@include breakpoint($large) {
		padding-bottom: span(3 of 12);
	}
}

.all-projects-content {
	text-align: center;
}

.all-projects-header {
	font-size: 1.1em;

	@include breakpoint($medium) {
		font-size: 1.666em;
	}

	@include breakpoint($large) {
		font-size: 2.073em;
	}
}

.all-projects-content span {
	display: block;
	font-style: italic;
	margin-bottom: 1em;

	@include breakpoint($large) {
		font-size: 1.555em;
	}
}

/*------------------------------------*\
    #WORK-LIST
\*------------------------------------*/

.work-list {
	position: relative;
	@include container();
 	@include clearfix();

	@include breakpoint($medium) {

	}

		@include breakpoint($large) {

	}

}

.work-list-item {
	position: relative;
	float: left;
	width: span(12 of 12);
	height: 25vh;

	@include breakpoint($medium) {
		width: span(50%);
		height: 45vh;
	}

		@include breakpoint($large) {
		width: span(33.333333%);
		height: 90vh;
	}
}

.work-list-content {
	width: span(10 of 12);
	@include centerer();
	color: white(1);
	z-index: 6;
}

.work-list-header a{
	color: white(1);
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

/*------------------------------------*\
    #VALUES-GRID
\*------------------------------------*/

.grid {
	position: relative;
	@include clearfix();
	margin: 0 auto;
	padding: gutter(12) 0;
	width: span(12 of 12);
	max-width: $x-large;
	list-style: none;
	text-align: center;

	figure {
		position: relative;
		float: left;
		overflow: hidden;
		margin: 0;
		width: span(12 of 12);
		background: #3085a3;
		text-align: center;
		cursor: pointer;

		@include breakpoint($medium) {
			width: 50%;

			&:nth-child(2n + 0) {
				float: right;
			}
		}

		@include breakpoint($large) {
			width: 33.333%;

			&:nth-child(3n + 0) {
				float: right;
			}
		}
		
		img {
			position: relative;
			display: block;
			// min-height: 100%;
			max-width: 100%;
			opacity: 0.8;
		}
		
		figcaption {
			color: white(1);
			font-size: 1em;
			backface-visibility: hidden;
		}

	}

}

.grid figure:before {
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	width: 100%;
	height: 100%;
	background: black(.3);
	z-index: 4;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 6;
}

/* Anchor will cover the whole item by default */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	font-size: 1.25em;
	font-weight: bold;
	font-style: normal;
}

.grid figure h2 span {
	font-family: "freight-text-pro";
	font-weight: normal;
	font-style: italic;
	text-transform: none;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	text-transform: none;
	font-size: 1em;
}

figure.animated figcaption::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black(0.3);
    background: linear-gradient(to bottom, black(0) 0%, black(0.7) 100%);
    content: '';
    opacity: 0;
    transform: translate3d(0,50%,0);
}
 
figure.animated h2 {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    color: white(1);
    transition: transform 0.35s;
    transform: translate3d(0,-50%,0);

    &:after {
			@include centerer();
			top: 135%;
			width: 25%;
			height: 3px;
			background: #fff;
			content: '';
			opacity: 0;
			transition: opacity .5s;
    }

    @include breakpoint($large) {
    	&:after {
    		top: 200%;
    	}
    }
}
 
figure.animated figcaption::before,
figure.animated p {
    transition: opacity 0.35s, transform 0.35s;
}
 
figure.animated p {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1em;
    width: 100%;
    opacity: 0;
    transform: translate3d(0,10px,0);

    @include breakpoint($large) {
    	padding: 2em;
    }
}

figure.animated:hover h2:after {
	opacity: 1;
}
 
figure.animated:hover figcaption::before ,
figure.animated:hover p {
    opacity: 1;
    transform: translate3d(0,0,0);
}


/*------------------------------------*\
    #BUTTON-STYLES
\*------------------------------------*/

.btn {
	display: inline-block;
	font-size: 0.704em;
	padding: 5px 10px;
	border: 2px solid;	
	margin: 0.875em 0;

	@include breakpoint($medium) {
		padding: 10px 20px;
	
	}

}

.btn--primary {
	color: white(1);
	border-color: white(1);
	transition: all .25s;
	letter-spacing: 2px;

	&:hover {
		color: black(1);
		background: white(1);
		border-color: white(1);
	}
}

.btn--black {
	color: black(.8);
	border-color: black(.8);

	&:hover {
		color: white(1);
		background: black(.8);
		border-color: black(.8);
	}
}

/*------------------------------------*\
    #ABOUT-SECTION
\*------------------------------------*/

.title-container.profile-page {
	@include centerer();
	margin-left: 0;
}

.profile-page .post-title.name {
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-top: 1em;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.333em;
	color: black(.8);

	@include breakpoint($medium) {
		font-size: 1.777em;
	}
}

.avatar {
	line-height: 0;
	display: inline-block;
	border-radius: 50%;
	width: 50%;
	max-width: 150px;
}

.name {
	margin-top: 0.875em;
}

.job-description, .social-links {
	color: black(.8);
	font-style: italic;
	margin-top: 0;
	margin-bottom: 0.4em;
	z-index: 6;
}

.social-links {
	font-size: 1em;
	margin-bottom: 1.333em;
	a {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}
