/*------------------------------------*\
    #POST/PROJECT-HEADER
\*------------------------------------*/

.post-content {
	width: span(10 of 12);
	margin: 0 auto;
	padding-top: gutter(12);

	@include breakpoint($medium) {
		width: span(8 of 12);
	}

	@include breakpoint($large) {
		width: span(6 of 12);
	}

}

.post-header {
	position: relative;
	height: 90vh;
	margin-bottom: 2em;

	@include breakpoint($large) {
		height: 75vh;
	}
}

.post-img {
	max-width: 100%;
}

.cover-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;

	//needs optimization
	&:before { 
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: block;
		background: linear-gradient(to bottom, black(0) 0%, black(0.7) 100%);
	}

	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: block;
		background: black(0.5);
	}
}

.cover-image--home {

	&:before {
		background: linear-gradient(to bottom, white(0) 0%, white(0.3) 25%, white(1) 100%);
		// background: white(0);
	}

	&:after {
		background: white(0.2);
	}
}

.cover-image--Tenato {
	&:before {
		background: linear-gradient(135deg, rgba(#54b7a3, 0.8) 0%, rgba(#00b789, 0.8) 100%);
	}

	&:after {
		background: white(0);
	}
}

.cover-image--Wundertuete {
	&:before {
		background: linear-gradient(135deg, rgba(0, 155, 195, 0.8) 0%, rgba(95, 195, 224, 0.8) 100%);
	}

	&:after {
		background: white(0);
	}
}


/*------------------------------------*\
    #POST/PROJECT-TITLE
\*------------------------------------*/

.title-container {
	@include centerer();
	width: span(10 of 12);
	z-index: 6;

	@include breakpoint($large) {
		width: span(8 of 12);
	}

	h2, h2 a, h3 {
		color: white(1);
		text-decoration: none;
	}

	.post-meta {
		font-family: "proxima-nova";
		font-weight: bold;
		color: white(1);
		margin: 0;

		@include breakpoint($large) {
			font-size: 1.166em;
		}
	}

	.post-meta--serif {
		font-family: "freight-text-pro";
		font-weight: normal;
		text-transform: none;
	}
}

/*------------------------------------*\
    #PROJECT-INFO
\*------------------------------------*/

.project-info-wrapper {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	width: span(10 of 12);
	bottom: gutter(12);
	padding: 0 10px;
	color: white(1);
	z-index: 6;
}

.client, .year, .collaborators, .type {
	@include span(3 of 12);
	font-family: "proxima-nova";
	font-weight: bold;
	text-transform: uppercase;
}

.collaborators {
	@include span(5 of 12);
}

.client p, .year p, .collaborators p, .type p {
	margin: 0;
	font-size: 0.704em;

	@include breakpoint($medium) {
		font-size: 0.875em;
	}

	@include breakpoint($large) {
		font-size: 1em;
	}
}

.client span, .year span, .collaborators span, .type span {
	font-family: "freight-text-pro";
	font-weight: normal;
	font-style: italic;
	text-transform: none;
	font-size: 1em;
	margin: 0;

	@include breakpoint($large) {
		font-size: 1em;
	}
}

.year {
	@include span(1 of 12 last);
}

.intro, .post-header .post-meta {
	width: span(10 of 12);
	@include pre(0 of 12);

	@include breakpoint($medium) {
		width: span(8 of 12);
		@include pre(0 of 12);
	}

	@include breakpoint($large) {
		width: span(10 of 12);
		@include pre(0);
	}
}

.post-title {
	margin-bottom: 0.5em;
}

.title-container--home .intro {
	margin: 0 auto;
	text-align: center;
}

/*------------------------------------*\
    #PROJECT-COLLABORATORS
\*------------------------------------*/

.avatar-list {
	vertical-align: top;
	margin: 0;
	padding: 0;
	list-style: none;
}

.avatar-list--collaborators {
	@include clearfix();
}

.avatar-list-item {
	display: inline-block;
}

.avatar-list-item--collaborators {
	position: relative;
	float: left;
	margin-right: 6px;
	display: block;
}

.avatar-icon {
	display: block;
	background-position: center;
	margin: 0 auto;
	overflow: hidden;
	line-height: 0;
	background-size: cover;
	border-radius: 100%;
}

.avatar-icon--collaborator {
	width: 30px;
	height: 30px;
}

.avatar-image {
	width: 100%;
	border-radius: 100%;
	background: #f0f0f0;
}

.avatar-image--collaborator {
	width: 30px;
	height: 30px;
}

/*------------------------------------*\
    #POST-IMAGES
\*------------------------------------*/

.post-content figure {
	position: relative;
	margin: 0;
}

.left-caption {

	@include breakpoint($large) {
		position: absolute;
		left: 0;
		top: 10%;
		padding-top: gutter(12);
		width: span(3 of 12);
		margin-left: -28%;
		text-align: right;

		&:before {
			position: absolute;
			top: 0;
			height: 1px;
			width: span(9 of 12);
			background: black(0.2);
			content: '';
		}
	}

}