/*------------------------------------*\
    #GLOBAL-TYPE-SETTINGS
\*------------------------------------*/

$ratio: 1.333;

body {
	font-family: "freight-text-pro";
	font-size: 100%;
	color: black(.8);
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	@include word-wrap();
}

body, h1, h2, h3, h4 {
	font-size-adjust: .5;
}

h1, h2, h3, h4 {
	font-family: "proxima-nova";
	margin: 0;
}

h1 {
	font-size: 1.777em;
	line-height: 1.25;

	@include breakpoint($medium) {
		font-size: 2.073em;
		line-height: 1.131em;
		margin-bottom: 1.131em;
	}
}

.post-title, .intro {
	color: white(1);
}

h1.page-heading {
	margin: 1em 0;
}

h2 {
	font-size: 1.507em;
	line-height: 1.2;

	@include breakpoint($medium) {
		font-size: 1.666em;
	}
}

h3 {
	font-size: 1.333em;
}

h4 {
	font-size: 1.131em;
}

p {
	font-size: 1.1em;

	@include breakpoint($medium) {
		font-size: 1.25em;
	}

	@include breakpoint($large) {
		font-size: 1.25em;
	}
}

blockquote {
	font-size: 1.2em;
	font-style: italic;
}


/*------------------------------------*\
    #POST-PAGE-SETTINGS
\*------------------------------------*/

.page-content {
	font-size: 1em;
	line-height: 1.375;
}

.post-meta {
	font-family: "proxima-nova";
	font-size: 0.704em;
	line-height: 1;
	text-transform: uppercase;
	color: black(0.4);

	@include breakpoint($medium) {
		font-size: 0.875em;
	}
}

.post-header .post-meta {
	color: white(1);
}

.post-list-header {
	font-size: 1.25em;
	margin: 0;

	@include breakpoint($medium) {
		font-size: 1.375em;
	}
}

.post-list p{
	font-size: 0.875em;
	margin: 0.704em 0;

	@include breakpoint($medium) {
		font-size: 1.125em;
	}
}

.post-link {
	color: black(.8);
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

/*------------------------------------*\
    #OTHER-SETTINGS
\*------------------------------------*/

.btn {
	font-family: "proxima-nova";
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}

hr {
	width: span(6 of 12);
	margin: 0 auto;
}

.regular-weight {
	font-weight: normal;
}

.email-me-link {
	color: black(0.8);

	&:hover {
		color: black(1);
	}
}

.related-post-header a{
	color: white(1);
}