/*------------------------------------*\
    #COLORS
\*------------------------------------*/

$white: #fff;
$black: #000;




/*------------------------------------*\
    #BREAKPOINTS
\*------------------------------------*/
$breakpoint-to-ems: true;
$medium: 500px;
$large: 900px;
