/*------------------------------------*\
    #COLORS
\*------------------------------------*/

$white: #fff;
$black: #000;




/*------------------------------------*\
    #BREAKPOINTS
\*------------------------------------*/
$breakpoint-to-ems: true;
$medium: 500px;
$large: 900px;
$x-large: 1500px;


/*------------------------------------*\
    #MISC
\*------------------------------------*/

$button-size : 2em; 
$transition: .2s;