---
layout: default
header: black
meta: My name is Stefan Reinprecht and I’m an interdisciplinary designer from Graz, Austria. I'm really enthusiastic about webdesign and development.
bg-video-mp4: ../../assets/dist/showreel/video/showreel_website_bg_short.mp4
bg-video-webm: ../../assets/dist/showreel/video/showreel_website_bg_short.webm
bg-video-ogg: ../../assets/dist/showreel/video/showreel_website_bg_short.ogg
permalink: /404.html
---

<div class="home">

  <section class="post-header {% if page.bg-video-mp4 %}post-header--video{% endif %}">
    <header>
      <div class="cover-image cover-image--home " style="background-image: url(../../assets/dist/general/img/bg_home4-large.png);">
      {% if page.bg-video-webm %}
        <video autoplay loop poster="{{ page.cover-image-retina }}" class="cover-image--home" >
          <source src="{{ page.bg-video-webm }}" type="video/webm">
          <source src="{{ page.bg-video-mp4 }}" type="video/mp4">
          <source src="{{ page.bg-video-ogg }}" type="video/ogg">
        </video>
      {% endif %}
        <div class="title-container title-container--home">
          <div class="signet">
            <svg>
              <use xlink:href="#icon-logo_square_schwarz" />
            </svg>
          </div>
          <h1 class="intro">Oops! Seems like there's nothing here.</h1>
        </div>
      </div>
    </header>
  </section>

  <section class="home-content">
    <p>Were you looking for some of <a target="_blank" href="{{ site.baseurl }}/work">my work</a>?  Or something from <a target="_blank" href="{{ site.baseurl }}/blog">the blog</a>? If not, you should probably go back to the <a target="_blank" href="{{ site.baseurl }}">Home-Page</a>.</p>

    <h1 class="page-heading recent-entries"><span>Case Studies</span></h1>

    <div class="post-list">
      <div class="featured-posts">
      {% for post in site.categories['Work'] limit:4 %}
        {% if post.featured == true %}

        <article class="featured-post">

          <h2 class="post-list-header">
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
          <div class="post-meta">{{ post.date | date: "%b %-d, %Y" }} in <a href="{{ site.baseurl }}/{{ post.categories }}">{{ post.categories }}</a></div>
          {{ post.excerpt }}
          <a class="btn--small btn--primary btn--black" target="_blank" href="{{ post.url | prepend: site.baseurl }}">Read more</a>

        </article>
        {% endif %}
      {% endfor %}
      </div>


      <h1 class="page-heading recent-entries"><span>Recent Work</span></h1>
      <div class="recent-posts">
      {% for post in site.categories['Work'] limit:3 %}
        {% if post.featured == false %}

        <article class="post">

          <h2 class="post-list-header">
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }} in <a href="{{ site.baseurl }}/{{ post.categories }}">{{ post.categories }}</a></span>
          {{ post.excerpt }}

        </article>

        {% endif %}
      {% endfor %}
      </div>
    </div>

  </section>
  <div class="post-follow-ups">
    {% include CTA-email.html %}
<!--    {% include all-projects.html %} -->
  </div>

</div>
