---
layout: default
header: black
meta: My name is Stefan Reinprecht and I’m an interdisciplinary designer from Graz, Austria. I'm really enthusiastic about webdesign and development.
---

<div class="home">

  <section class="post-header">
    <header>
      <div class="cover-image cover-image--home" style="background-image: url(../../assets/dist/general/img/bg_home3-large_x2.jpg);">
        <div class="title-container title-container--home">
          <div class="signet">
            <svg>
              <use xlink:href="#icon-logo_square_schwarz" />
            </svg>
          </div>
          <h1 class="intro">{{ site.description }}</h1>
        </div>
      </div>
    </header>
  </section>

  <section class="home-content">
    <p>This is some of <a target="_blank" href="{{ site.baseurl }}/work">the awesome stuff</a> I helped build. Currently intern as a front-end developer at <a href="http://engarde.net" target="_blank">En Garde.</a> Curious? Find out more <a target="_blank" href="{{ site.baseurl }}/about">about me.</a> </p>
    <h1 class="page-heading recent-entries"><span>Case Studies</span></h1>

    <div class="post-list">
      <div class="featured-posts">
      {% for post in site.categories['work'] %}
        {% if post.featured == true %}

        <article class="featured-post">

          <h2 class="post-list-header">
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
          <div class="post-meta">{{ post.date | date: "%b %-d, %Y" }} in <a href="{{ site.baseurl }}/{{ post.categories }}">{{ post.categories }}</a></div>
          {{ post.excerpt }}
          <a class="btn--small btn--primary btn--black" target="_blank" href="{{ post.url | prepend: site.baseurl }}">Read more</a>
          
        </article>
        {% endif %}
      {% endfor %}
      </div>
      <!-- <h1 class="page-heading recent-entries"><span>From the Blog</span></h1>
      <div class="recent-posts">
      {% for post in site.categories['work'] limit:2 %}
        {% if post.featured == false %}

        <article class="post">
          
          <h2 class="post-list-header">
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }} in <a href="{{ site.baseurl }}/{{ post.categories }}">{{ post.categories }}</a></span>
          <p>{{ post.excerpt }}</p>
          
        </article>

        {% endif %}
      {% endfor %}
      </div> -->

      <h1 class="page-heading recent-entries"><span>Recent Work</span></h1>
      <div class="recent-posts">
      {% for post in site.categories['work'] %}
        {% if post.featured == false %}

        <article class="post">
          
          <h2 class="post-list-header">
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }} in <a href="{{ site.baseurl }}/{{ post.categories }}">{{ post.categories }}</a></span>
          {{ post.excerpt }}
          
        </article>

        {% endif %}
      {% endfor %}
      </div>
    </div>

<!--     <h1 class="page-heading recent-entries"><span>From Behance</span></h1>
    <div id="portfolio" class="grid grid__portfolio">
      <script id="portfolio-template" type="text/x-handlebars-template">
      {% raw %}
      {{#each projects}}
        <figure class="portfolio-grid-item animated">
          <a class="portfolio-item-link" href="{{this.url}}" target="_blank">
          <img src="{{this.covers.[404]}}" alt="{{this.name}}" >
          <figcaption>
              <p>{{this.name}}</p>
          </figcaption>
          </a>
        </figure>
      {{/each}}
      {% endraw %}
      </script>
    </div> -->
  </section>
  
</div>
