<footer class="site-footer">

    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.twitter_username %}
          <li>
            <a target="_blank" href="https://twitter.com/{{ site.twitter_username }}">
              <span class="icon icon--twitter">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="#icon-twitter" />
                </svg>
              </span>
            </a>
          </li>
          {% endif %}

          {% if site.behance_username %}
          <li>
            <a target="_blank" href="https://behance.com/{{ site.behance_username }}">
              <span class="icon icon--behance">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="#icon-behance" />
                </svg>
              </span>
            </a>
          </li>
          {% endif %}

          {% if site.facebook_username %}
          <li>
            <a target="_blank" href="https://facebook.com/{{ site.facebook_username }}">
              <span class="icon icon--facebook">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="#icon-facebook" />
                </svg>
              </span>
            </a>
          </li>
          {% endif %}

          {% if site.vimeo_username %}
          <li>
            <a target="_blank" href="https://vimeo.com/{{ site.vimeo_username }}">
              <span class="icon icon--vimeo">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="#icon-vimeo" />
                </svg>
              </span>
            </a>
          </li>
          {% endif %}

          {% if site.github_username %}
          <li>
            <a target="_blank" href="https://github.com/{{ site.github_username }}">
              <span class="icon icon--github">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="#icon-github" />
                </svg>
              </span>
            </a>
          </li>
          {% endif %}

          <li>
            <a href="mailto:{{ site.email }}">
              <span class="icon icon--email">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="#icon-email" />
                </svg>
              </span>
            </a>
          </li>

        </ul>
      </div>

      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>&copy; {{ site.time | date: '%Y' }} Stefan Reinprecht | <a target="_blank" href="{{ site.baseurl }}/impressum">Impressum</a></li>
        </ul>
      </div>

    </div>


</footer>
<script src="{{ "/vendor/js/jquery.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js"></script>

<script src="{{ "/js/site.min.js" | prepend: site.baseurl }}"></script>
