<header class="site-header{% if page.header %} {{ page.header }}{% endif %}">

    <nav class="site-nav">

      <div class="logo">
        <a class="site-title" href="{{ site.baseurl }}/"><svg><use xlink:href="#icon-logo_quer_schwarz" /></svg></a>      
      </div>

      <div class="menu">
        <a href="#" class="menu-icon lines-button x">
          <span class="lines"></span>
        </a>
      </div>

      <div class="site-width">
        <div class="navigation">
          <ul class="primary-navigation">
            {% for page in site.pages %}
              {% if page.title %}
              <li>
                <a class="menu-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                <span class="menu-link-desc">{{page.desc}}</span>
              </li>
              {% endif %}
            {% endfor %}
            <li class="separator"><span>Featured Work</span></li>
            {% for post in site.categories['work'] %}
              {% if post.client %}
              <li>
                <a class="menu-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.client }}</a>
                <span class="menu-link-desc">{{ post.title }}</span>
              </li>
              {% endif %}
            {% endfor %}            
          </ul>
        </div>
      </div>

    </nav>



</header>
