
{% if page.previous.url and page.next.url %}
<section class="related-post previous-post">

  {% if page.previous.url %}
  <div class="cover-image cover-image--{{ page.previous.client }}" style="background-image: url({{page.previous.cover-image}})">

    <div class="related-post-content">
      <h4 class="related-post-title">Previous Project</h4>
      <p class="related-post-meta">{{ page.previous.client }}</p>
      <h2 class="related-post-header">
        <a class="post-link" href="{{ page.previous.url | prepend: site.baseurl }}">{{ page.previous.title }}</a>
      </h2>
    </div>

  </div>
  {% endif %}
</section>

<section class="related-post next-post">
  {% if page.next.url %}
  <div class="cover-image cover-image--{{ page.next.client }}" style="background-image: url({{page.next.cover-image}})">

    <div class="related-post-content">
      <h4 class="related-post-title">Next Project</h4>
    	<p class="related-post-meta">{{ page.next.client }}</p>
    	<h2 class="related-post-header">
        <a class="post-link" href="{{ page.next.url | prepend: site.baseurl }}">{{ page.next.title }}</a>
      </h2>
    </div>

  </div>
  {% endif %}

</section>

{% else %}
<section class="related-post">

  {% if page.previous.url %}
  <div class="cover-image cover-image--{{ page.previous.client }}" style="background-image: url({{page.previous.cover-image}})">

    <div class="related-post-content">
      <h4 class="related-post-title">Previous Project</h4>
      <p class="related-post-meta">{{ page.previous.client }}</p>
      <h2 class="related-post-header">
        <a class="post-link" href="{{ page.previous.url | prepend: site.baseurl }}">{{ page.previous.title }}</a>
      </h2>
    </div>

  </div>
  {% else %}
  <div class="cover-image cover-image--{{ page.next.client }}" style="background-image: url({{page.next.cover-image}})">

    <div class="related-post-content">
      <h4 class="related-post-title">Next Project</h4>
      <p class="related-post-meta">{{ page.next.client }}</p>
      <h2 class="related-post-header">
        <a class="post-link" href="{{ page.next.url | prepend: site.baseurl }}">{{ page.next.title }}</a>
      </h2>
    </div>

  </div>
  {% endif %}

</section>
{% endif %}