<section class="related-post">

  {% for post in site.related_posts limit:1 %}

  <div class="cover-image cover-image--{{ post.client }}" style="background-image: url({{post.cover-image}})">

    <div class="related-post-content">
      <h4 class="related-post-title">Related Project</h4>
    	<p class="related-post-meta">{{post.client}}</p>
    	<h2 class="related-post-header">
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>
    </div>

  </div>

  {% endfor %}

</section>