---
layout: default
header: black
---
<div class="post">

  <section class="post-header">

		<header>
			<div class="cover-image cover-image--{{ page.title }}" style="background-image: url({{page.cover-image}});">
				<div class="title-container profile-page">
					<div class="about-me">
						<img src="{{page.avatar}}" alt="Portrait photo of myself" class="avatar">
						<h1 class="post-title name">{{ page.my-name }}</h1>
            <p class="job-description">{{ page.job-desc }}</p>
            <p class="social-links"><a target="_blank" href="https://twitter.com/{{ site.twitter_username }}">@{{ site.twitter_username }}</a> &middot; <a target="_blank" href="https://behance.com/{{ site.behance_username }}">Behance</a></p>
						<a href="{{ site.baseurl }}/assets/dist/cv.pdf" class="btn btn--primary btn--black">Download my CV</a>
					</div>
				</div>
			</div>
		</header>

	</section>

  <article class="post-content">
    {{ content }}
    <h3>My expertise and values</h3>
  </article>

  <div class="grid">
 
    <figure class="value-grid-item animated">
      <img src="../../assets/dist/general/img/values_4.jpg" alt="The final version of the website" srcset="../../assets/dist/general/img/values_4-small.jpg 250w, ../../assets/dist/general/img/values_4-medium.jpg 500w, ../../assets/dist/general/img/values_4-large.jpg 700w" sizes="(min-width: 31.25em) 66vw, (min-width: 56.25em) 50vw, 100vw">
      <figcaption>
          <h2>Capturing the <span>Essence</span> of a Moment</h2>
          <p>Essential if you want to convey an important message. This is what I'm passionate about.</p>
      </figcaption>         
    </figure>
     
     <figure class="value-grid-item animated">
      <img src="../../assets/dist/general/img/bg_home.jpg" alt="The final version of the website" srcset="../../assets/dist/general/img/bg_home-small.jpg 250w, ../../assets/dist/general/img/bg_home-medium.jpg 500w, ../../assets/dist/general/img/bg_home-large.jpg 700w" sizes="(min-width: 31.25em) 66vw, (min-width: 56.25em) 50vw, 100vw">
      <figcaption>
          <h2>Intersection between <span>Design</span> and <span>Development</span></h2>
          <p>Fundamental competences in both fields allow me to work with modern webdesign workflows.</p>
      </figcaption>         
    </figure>

		<figure class="value-grid-item animated">
      <img src="../../assets/dist/general/img/values_3.jpg" alt="The final version of the website" srcset="../../assets/dist/general/img/values_3-small.jpg 250w, ../../assets/dist/general/img/values_3-medium.jpg 500w, ../../assets/dist/general/img/values_3-large.jpg 700w" sizes="(min-width: 31.25em) 66vw, (min-width: 56.25em) 50vw, 100vw">
      <figcaption>
          <h2>Creating <span>user-friendly</span> Experiences</h2>
          <p>To ensure the success of a Website/App, it's key to offer the best experience to the User.</p>
      </figcaption>         
    </figure>

    <figure class="value-grid-item animated">
     <img src="../../assets/dist/general/img/values_6.jpg" alt="The final version of the website" srcset="../../assets/dist/general/img/values_6-small.jpg 250w, ../../assets/dist/general/img/values_6-medium.jpg 500w, ../../assets/dist/general/img/values_6-large.jpg 700w" sizes="(min-width: 31.25em) 66vw, (min-width: 56.25em) 50vw, 100vw">
      <figcaption>
          <h2>Working in <span>multidisciplinary</span> Teams</h2>
          <p>Whether in Webdesign or Filmmaking you always work with people from different fields. That's where I grow strong.</p>
      </figcaption>         
    </figure>

    <figure class="value-grid-item animated">
      <img src="../../assets/dist/general/img/values_2.jpg" alt="The final version of the website" srcset="../../assets/dist/general/img/values_2-small.jpg 250w, ../../assets/dist/general/img/values_2-medium.jpg 500w, ../../assets/dist/general/img/values_2-large.jpg 700w" sizes="(min-width: 31.25em) 66vw, (min-width: 56.25em) 50vw, 100vw">
      <figcaption>
          <h2>Focus on the <span>important</span> things</h2>
          <p>Enables me to work efficiently and to be more productive.</p>
      </figcaption>         
    </figure>

    <figure class="value-grid-item animated">
     <img src="../../assets/dist/general/img/values_7.jpg" alt="The final version of the website" srcset="../../assets/dist/general/img/values_7-small.jpg 250w, ../../assets/dist/general/img/values_7-medium.jpg 500w, ../../assets/dist/general/img/values_7-large.jpg 700w" sizes="(min-width: 31.25em) 66vw, (min-width: 56.25em) 50vw, 100vw">
      <figcaption>
          <h2>Eager to <span>learn</span> new things</h2>
          <p>I'm always excited when it comes to learning new things.</p>
      </figcaption>         
    </figure>

	</div>

	<div class="post-follow-ups">
    {% include signet.html %}
		{% include CTA-email.html %}
		{% include all-projects.html %}
	</div>

</div>
