---
layout: default
---
<div class="post">

	<section class="post-header">

		<header>
			<div class="cover-image" style="background-image: url({{page.cover-image}});">
				<div class="title-container">
					<h1 class="post-title">{{ page.title }}</h1>
					<p class="post-meta post-meta--serif">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} by {{ page.author }}{% endif %}</p>	
				</div>

				<div class="project-info-wrapper">
					<div class="client">
						<span>Client</span>
						<p>{{ page.client }}</p>
					</div>

					<div class="type">
						<span>Type</span>
						<p>{{ page.type }}</p>
					</div>

					<div class="collaborators">
						<span>Collaborators</span>
						<ul class="avatar-list avatar-list--collaborators">
						{% for friend in site.data.friends %}
							{% if friend.project contains page.client %}
							<li class="avatar-list-item avatar-list-item--collaborators">
								<a href="{{ friend.website }}" class="avatar-icon avatar-icon-collaborators"><img class="avatar-image avatar-image--collaborator" src="{{ friend.avatar }}" alt="{{ friend.name }}" title="{{ friend.name }}"></a>
							</li>
							{% endif %}
						{% endfor %}
						</ul>
					</div>
					
					<div class="year">
						<span>Year</span>
						<p>{{ page.date | date: "%Y" }}</p>
					</div>
				</div>

			</div>
		</header>

	</section>

  <article class="post-content">
    {{ content }}
  </article>

	<div class="post-follow-ups">
		{% include CTA-email.html %}
		{% include related-post.html %}
		{% include all-projects.html %}
	</div>

</div>
